$background: #e3f6f5;
$card-background: #fffffe;
$headline: #272343;
$sub-headline: #2d334a;
$paragraph: #2d334a;
$button: #ffd803;
$button-text: #272343;

$stroke: #272343;
$main: #fffffe;
$highlight: #ffd803;
$secondary: #e3f6f5;
$tertiary: #bae8e8;

// media query
@mixin is-sp {
  @media screen and (max-width: 767px) {
    @content;
  }
}

@mixin is-tablet {
  @media screen and (max-width: 1040px) {
    @content;
  }
}

* {
  margin: 0;
  padding: 0;
}